.aboutTheDesigner {
    display: grid;
    grid-template-rows: repeate(3, 1fr);
    gap: 2em;
}

.works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    gap: 2em;
    align-items: center;
}